/*
    RTL Support
*/

body{
    direction: ltr !important;;
    text-align: left !important;
}

.dropdown-footer{
    display: none !important;
    visibility: hidden !important;
}

.help-block{
    direction: rtl
}

.login-logo img {
    width: 90%
}

.brand-image {
    border-radius: 5px;
    width: 50px;
}

.brand-text {
    color: #343a40;
}

.addlink {
    width: 60px;
}

.changelink {
    width: 60px;
}
